@import "tailwindcss";


@font-face {
  font-family: 'MyCustomFont';
  src: url('../public/thmanyah.woff2') format("woff2"); /* Vite serves files in public/ from the root '/' */
  font-weight: normal;
  font-style: normal;
  font-display: swap; 
}

@theme {
  --font-custom: 'MyCustomFont', sans-serif;
}

html, body, #root {
  min-height: 100%;
  background-color: #faf5ef;
  overflow-y: auto;
}